# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Environment variables
.env

# Rendered outputs
/tmp
/outputs

# AGENTS.md file
/AGENTS.md

# assets/fonts is ignored by default.
assets/fonts/**/*
assets/fonts/**/*
!assets/fonts/**/LICENSE
!assets/fonts/**/*.ttf

